
h1 + p {
    font-size: 20px;
}

p code {
    color: red;
}


p + code {
    color: hotpink;
}

.next-hover li:hover + li {
    background-color: yellow;
}

.all-next-hover li:hover ~ li {
    background-color: lightblue;
}