/* 2.1 Дочірні селектори */

/* лише перший p після h1 */
h1 + p {
    font-size: 20px;
}

/* code всередині абзацу */
p code {
    color: red;
}

/* code після абзацу */
p + code {
    color: hotpink;
}

.next-hover li:hover + li {
    background-color: yellow;
}

.all-next-hover li:hover ~ li {
    background-color: lightblue;
}